**/node_modules
**/dist
**/build
**/coverage
**/typechain
**/cache
**/out

# env files (can opt-in for committing if needed)
**/.env*

**/account-contracts/lib/**


# Compiler files
**/cache/**
**/out/**

# Ignores development broadcast logs
!**/broadcast
**/broadcast/*/31337/
**/broadcast/**/dry-run/

# Docs
**/docs/**

# Dotenv file
**/.env*
